*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background: white;
    font-family: 'Ubuntu', sans-serif;
}

img {
    /*height: 100%;*/
    object-fit: cover;
}

.splash {
    background-image: url("https://i.postimg.cc/26sF9RH7/pexels-element-digital-1051077-2.jpg");
    height: 100vh;
    width: 80%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.splash-shadow {
    background: rgba(0, 0, 0, .5);
    height: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 5px;
}

.nav-logo {
    display: flex;
    justify-content: space between;
    width: 25%;
    color: #ffc107;
    font-style: italic
}



h1,
h3 {
    color: white;
}

h3 {
    font-style: italic;
}

h2 {
    font-weight: bolder;
    font-size: 24px;
}

button {
    background: #ffc107;
    color: white;
    margin: 50px 50px;
    cursor: pointer;
    border-radius: 5%;
    padding: 15px;
    border: none;
    font-size: 14px;
}

section {
    margin: auto;
    width: 80%;
}

.services {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.subtitle {
    font-size: 18px;
    font-style: italic;
}

.services p {
    font-size: 16px;
}

.services i {
    font-size: 35px;
    background-color: white;
    border: 3px solid #ffc107;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #ffc107;
    border-radius: 50%;
    margin-top: 20px;
}

.portfolio {
    background-color: #eff2f5;
    padding-top: 70px;
    margin-top: 100px;
}

.card-title {
    font-size: 12px;
}

.portfolio p {
    font-size: 16px;
    font-style: italic;
}

.card {
    width: 70%;
    margin: 30px;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.footer p {
    font-size: 12px;
}

.footer i {
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    margin: 10px 3px;
}